

Select * From I400DASQL.EFGAS400.SESCSEFG.SCAGRDM  WHERE 
ADMACCCOD IN ('26553','25702','25883','26645','25734','27835','27017','25836','26417','25835','27975','26694','26856','26238','26318','26771','26775','26770','27931','25949','25755','25893',
'26328','26394','26776','26723','26121','26773','26716','25727','27791','26945','26968','25729','25733','25596','26203','26719','27802','26503','27335','26438','26047','25962','26980','26046',
'31287','31747','25501','31196','90448','25965','91088','90362','92174','91409','91354','91431'
)
AND ADMAGRCOD IN
(
'              126446','              127649','              128176','               82220','              127615','              114658','              139277','             3004566',
'              127665','              118377','               37594','              127772','               72647','              134710','              127646','              127605',
'              134705','              127670','              127675','              114688','              134719','              127651','              150140','               82242',
'               82237','              152359','              127689','               77064','              121143','              127660','              146864','               82243',
'               82217','               37634','              150986','               74956','              128372','               69763','              127623','               36304',
'               74313','              126444','              149940','              150974','               79503','               79510','              151960','              148277',
'              149404','              128894','              152154','              150999','              135307','              115481','              141695','              143975',
'              127775','              127644','              139274','              127659','               30148','               78100','              128991','              134714',
'              126594','              150095','              143141','              126443','              151000','              142782','              149403','              128482',
'              150968','              149406','              127654','               71643','              150073','              117075','              149445','              149409',
'               81092','               38095','               82229','              127661','               69245','              145549','              127677','              126427',
'              127766','              149405','              152161','              145548','              136969','              143145','              119083','              143264',
'               73811','              141651','              127690','              127046','               37007','              161451','               88509','              127656',
'              115482','               71737','              117073','              128496','              149898','              136281','              150996','              144257',
'              152815','              152610','              144277','              152261','              135342','              152907','              141698','               31264',
'              152696','              131482','              143133','              143139','               91272','               70539','              151295','              116967',
'              144758','              152681','              146504','              150983','              153136','              152699','              148002','              152301',
'               35668','              152385','              120577','              152321','              131468','              131697','              132663','              114840',
'              150814','              147219','              149696','              162806','               69538','              145202','              145203','              152668',
'              163181','               93525','              151995','              143125','              150979','              131459','               90755','              144258',
'              131699','              150970','              152156','              152688','               69542','               91018','              145201','              128428',
'              143261','              145301','              148308','              136494','              153353','              121138','               73388','              152865',
'               90874','              151777','              152296','              150810','              162807','              152395','              127045','              145246',
'              148242','              135738','              153219','              132129','              135741','              146693','              135281','              134430',
'               93508','              135279','              152318','              162894','              152621','              152689','              152664','              144259',
'              152843','              150200','              153352','              135265','              152695','              143137','               75482','              125416',
'              135286','              126876','              161600','               81323','              152399','              150819','               89003','              117808',
'             1513239','             1516029','             1512457','             1624511','             1670372','             1591074','             1472812','             5195157',
'             5585342','         25501000503','         25501000504','         25501000505','         25501000500','         25501000501','             5294326','         25501000502',
'         90448000004','         25501000521','              100435','         25501000523','         90448000003','         90448000012','         90448000002','         90448000009',
'              104038','         90448000001','              115388','              114920','              107522','              108296','              114930','              115418',
'              114584'
)




--Select * From I400DASQL.EFGAS400.SESCSEFG.SCAGRDM  WHERE ADMAGRCOD = '             3004566'

--Select * From DimAgreement